:root {
   --minWidth-eg: 320px;
   --maxWidth-eg: 860px;

   --color-eg-gray: #ccc;
   --color-eg-white: #fff;
   --color-eg-wildsand: #f6f6f6;
   --color-eg-active: #ab4f0e;

   --size-eg-round: 0.3rem;
}

// Брейкпоинты
$md0: 520;
$md1: 521;
$md2: 720;
$md3: 960;
$md4: 1140;
